<h1>Hello {{title}}!</h1>

<h1>Routing Demo</h1>
<div class="mt-3">
    <button class="btn btn-primary" routerLink="/parent">Parent Component</button>
</div>
<div class="mt-3">
    <a routerLink="/pipe">Pipe Demo Component</a>
</div>
<div class="mt-3">
    <a routerLink="/dashboard">Dashboard Component</a>
</div>
<div class="my-3">
    <a routerLink="/department">Department Component</a>
</div>
<router-outlet></router-outlet>

<!-- <app-book></app-book>
<hr>
<br/>
<app-view-book></app-view-book>
<hr>
<br/>
<app-service-demo></app-service-demo>
<hr>
<br/>
<app-registration-form></app-registration-form>
<hr>
<br/>
<app-parent></app-parent>
<hr>
<br/>
<app-pipe-demo></app-pipe-demo>
<hr>
<br/>
<app-data-binding></app-data-binding>
<hr>
<br/>
<app-directives></app-directives>
<hr>
<br/>
<app-demo></app-demo> -->